* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: lighter;
  color: #ffe8e8;
  background-color: #988eaa;
  height: 100vh;
}

.nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 8px solid #ffd414;
  background-color: #221a44;
}
.nav__menu {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__menu li {
  list-style-type: none;
  font-size: 3rem;
  font-weight: 600;
}
.nav__menu li a {
  text-decoration: none;
  color: #ffd414;
}
.nav__menu--logo {
  margin: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav__menu--logo img {
  max-width: 12vw;
  min-width: 130px;
}
.nav__menu--logo img:nth-child(0n+2) {
  max-width: 5vw;
  min-width: 50px;
  margin-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nav__checkbox {
  display: block;
}
.nav__toggle {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.nav__toggle svg {
  width: 3.5rem;
}
.nav__toggle--menu {
  display: block;
  fill: #ffd414;
}
.nav__toggle--close {
  display: none;
  fill: red;
}

#nav__checkbox:checked ~ .nav__menu--items {
  display: block;
}

#nav-checkbox:checked ~ .nav__toggle--menu {
  display: none;
}

#nav-checkbox:checked ~ .nav__toggle--close {
  display: block;
}

.show {
  display: none;
}

.nav__checkbox:checked ~ .nav__menu {
  display: block;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 150px;
  margin: 8px;
}