@import "./_variables.scss";
@import "./components/_normalice.scss";

body {
    font-family: sans-serif;
    font-weight: lighter;
    color: $fourth;
    background-color: $second;
    height: 100vh;
}

.nav {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 8px solid  $third;
    background-color: $first;
    &__menu{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        & li {
            margin: 25px 0;
            list-style-type: none;
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
            & a {
                text-decoration: none;
                color: $third;
            }
        }
        &--logo {
            margin: 20px;
            align-self: flex-start;
            display: flex;
            justify-content: space-evenly;
            & img {
                max-width: 12vw;
                min-width: 130px;
            }
            & img:nth-child(0n+2) {
                max-width: 5vw;
                min-width: 50px;
                margin-left: 20px;
                align-self: center;
            }
        }
    }
    &__checkbox {
        display: none;
    }
    &__toggle{
        width: 20vw;
        display: flex;
        justify-content: center;
        cursor: pointer;
        & svg {
            width: 3.5rem;
        }
        &--menu {
            display: block;
            fill: $third;
        }
        &--close {
            display: none;
            fill: red;
        }
    }
}

#nav-checkbox:checked ~ .nav__toggle .nav__toggle--menu {
    display: none;
}

#nav-checkbox:checked ~ .nav__toggle .nav__toggle--close {
    display: block;
}

.nav__checkbox:checked ~ .nav__menu {
    display: block;
}

.figure{
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    margin: 28px;
    & img {
        width: 40%;
        margin: 0 25px 0 0;
    }
}


